gisserver/templates/gisserver/wfs/2.0.0/describe_feature_type.xml

<?xml version='1.0' encoding="UTF-8" ?>
<schema
   targetNamespace="{{ app_xml_namespace }}"
   xmlns:app="{{ app_xml_namespace }}"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml/3.2"
   elementFormDefault="qualified" version="0.1" >

  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />

{% for feature in feature_types %}
  <element name="{{ feature.name }}" type="app:{{ feature.name }}Type" substitutionGroup="gml:AbstractFeature" />

  <complexType name="{{ feature.name }}Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>{% for name, xs_type in feature.fields %}
          <element name="{{ name }}" minOccurs="0" type="{{ xs_type }}"{% if "gml:" in xs_type %} maxOccurs="1"{% endif %}/>{% endfor %}
        </sequence>
      </extension>
    </complexContent>
  </complexType>
{% endfor %}

</schema>
